{% extends "master.html" %}

{% block title %}
  Details about {{myinstructor.nombre }} {{myinstructor.apellido}}
{% endblock %}

{% block content %}

<h1>{{   myinstructor.nombre }} {{   myinstructor.apellido }}</h1>
 <div>
    <span class="inf"> documento de identidad</span>
   <span class="value"> {{myinstructor.documento_identidad }}</span>
</div> 

 <div>
    <span class="inf"> El telefono es:</span>
   <span class="value"> {{myinstructor.telefono }}</span>
</div> 


 <div>
    <span class="inf"> El nombre es:</span>
   <span class="value"> {{myinstructor.nombre}}</span>
 </div> 


 <div>
    <span class="inf"> Imail del usuario es:</span>
   <span class="value"> {{   myinstructor.correo }}</span>
</div> 

<div>
    <span class="inf"> La fecha de nacimiento </span>
   <span class="value"> {{myinstructor.fecha_vinculacion }}</span>
</div> 
 <div>
    <span class="inf"> ciudad</span>
   <span class="value"> {{myinstructor.ciudad }}</span>
    <div>
    <span class="inf"> Programa que pertenece</span>
   <span class="value"> {{myinstructor.direccion }}</span>
</div> 
 

<p> <a href="/instructores">INSTRUCTORES</a></p>
{% endblock %}